body {
    background-color: black;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption-text {
    background: rgba(0, 0, 0, 0.6); 
}

#border {
    background-color: orange;
    margin: auto;
    width: 250px;
    height: 3px;
}

#border-two {
    background-color: white;
}

.cust-container {
    color: white;
}
img{
    border-radius: 35px;
}
img:hover{
    border: 1.5px solid #6B8E23;
}

.table-border{
    margin: auto;
    border-radius: 35px;
    width: 60%;
    text-align: center;
}




